<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" >
        <meta charset="utf-8">
        <meta name = "description" content = "This is a nifty website">
        <title>Amusement Park App</title>
    </head>
    <body style = "background-color:white">
        <nav>
            <div style="background-color:whitesmoke;">
                <h1>Pacific Park</h1>
            </div>
            <table >
                <tr>
                    <a href="Vendors">
                        <button>Vendors</button>
                    </a>
                </tr>
                <tr>
                    <a href="Rides">
                        <button>Rides</button>
                    </a>
                </tr> 
                <tr>
                    <a href="Reservations">
                        <button>Reservations</button>
                    </a>
                </tr>
                <tr>
                    <a href="/Signin">
                        <button>Employee Signin</button>
                    </a>
                </tr>
            </table>
            <p style="margin-bottom:2cm;"></p>
        </nav>
        <main>
            <div class="Welcome">
                <h1 style="color: red;"> Welcome! </h1>
            </div>
        </main>
    </body>
</html>
