<!DOCTYPE html>
  <html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" >
        <meta charset="utf-8">
        <title>Amusement Park App</title>
    </head>
    <body style = "background-color:#f4f0ec">
        <body >
            <div style="background-color: whitesmoke;">
            <h1>Reservations </h1>
            <h2>Make a reservation for a party in any section of the park for a magical time!</h2>
        </div>
        </body>
        <nav>
                <table>
                <tr>
                    <a href="/">
                        <button>Home</button>
                    </a>
                </tr>
                <tr>
                    <a href="/Vendors">
                        <button>Vendors</button>
                    </a>
                </tr>
                <tr>
                    <a href="/Rides">
                        <button>Rides</button>
                    </a>
                </tr> 
                <tr>
                    <a href="/Signin">
                        <button>Employee Signin</button>
                    </a>
                </tr>
            </table>
        </nav>
        <p style="margin-bottom:1.5cm;"></p>
        <main>
        
            <div class="box">
            <table>
                <tr>
                    <details>
                        <summary>Make A Reservation</summary>
                        <!--This will drop down into the entry form for making reservations-->
                        <form action="/Reservations" method="post">
                            <div>
                                <p>Start</p>
                                <input type="date" name="start date" required>
                                <input type="time" name="start time" required>
                            </div>
                            <div>
                                <p>End</p>
                                <input type="date" name="end date" required>
                                <input type="time" name="end time" required>
                            </div>
                            <div>
                                <select name="section" required>
                                    <option selected disabled hidden>section</option>
                                    {% for section in sections %}
                                    <option value="{{section}}">{{section}}</section></option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <p>Number of Guests</p>
                                <input type="number" name="guests" required style="width: 3em;">
                            </div>
                            <div>
                                <p>Your ID</p>
                                <input type="number" name="gid" required style="width: 5em;">
                            </div>
                            <input type="submit">
                        </form>
                    </details>
                </tr>
                <p style="margin-bottom:2.5cm;"></p>
                <tr>
                    <details style="list-style: none;">
                        <summary>Check Reservations</summary>
                        <!--This will drop down into the entry form to enter reservation details-->
                        {% for reservation in output %}
                        <p>{{reservation[0]}} {{reservation[1]}} {{reservation[2]}} {{reservation[3]}} {{reservation[4]}}</p>
                        {% endfor %}
                    </details>
                </tr>
            </table>
        </div>
        </main>
        
        <footer>
        <div id="bottom">
            <div class="borderbox">
            <p>Reservations are granted based on availability. Failure of the reserved party 
                to arrive within the time of the party without proper 2-day cancellation
                shall result in a loss of the deposit. Cancellations prior to 2 days of the 
                event guarantee a return of the reservation deposit.</p>
            <p>All rights to deny service reserved. </p>
        </div>
    </div>
        </footer>

  </html>
