<!DOCTYPE html>
  <html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" >
        <meta charset="utf-8">
        <meta name = "description" content = "This is a nifty website">
        <title>Amusement Park App</title>
    </head>
    <body style = "background-color:#f4f0ec">
        <body>
        <div style="background-color: whitesmoke;">
            <h1>Rides of the Amusement Park</h1>
        </div>
        </body>
        <nav>
            <ul>
                <table>
                <tr>
                    <a href="/">
                        <button>Home</button>
                    </a>
                </tr>
                <tr>
                    <a href="/Vendors">
                        <button>Vendors</button>
                    </a>
                </tr>
                <tr>
                    <a href="/Reservations">
                        <button>Reservations</button>
                    </a>
                </tr>
                <tr>
                    <a href="/Signin">
                        <button>Employee Signin</button>
                    </a>
                </tr>
            </table>
            </ul>
        </nav>
        <p style="margin-bottom:1.5cm;"></p>
        <main>
        
        <div class="box">
            <table>
                <tr>
                    <h2>Rides</h2>
                </tr>
                {% for ride in output%}
                <tr>
                    <p>{{ride[0]}} Wait time: {{ride[1]}}</p>
                </tr>
                {% endfor %}
            </table>
            <p style="margin-bottom:1cm;"></p>
            <b> See more information on a specific Ride</b>
            
            <form action="" method="post">
                <select name="name" required>
                {% for ride in output%} 
                <option value="{{ride[0]}}">{{ride[0]}}</option>
                {% endfor %}
                </select>
                <input type="submit" value="Submit" />

            </form>
            <div>
                {%if extraInfo%}
                <table>
                    <tr>
                        <p>Ride : {{extraInfo[0][1]}}</p>
                    </tr>
                    <tr>
                        <p>Type : {{extraInfo[0][2]}}</p>
                    </tr>
                    <tr>
                        <p> Availabe Now : {{extraInfo[0][3]}}</p>
                    </tr>
                    <tr>
                        <p>Capacity : {{extraInfo[0][4]}}</p>
                    </tr>
                    <tr>
                        <p> Location : {{extraInfo[0][5]}}</p>
                    </tr>
                    <tr>
                        <p>Duration of ride : {{extraInfo[0][6]}}</p>
                    </tr>
                    <tr>
                        <p>Age Requirement to ride : {{extraInfo[0][7]}}</p>
                    </tr>
                    <tr>
                        <p>Height Requirement to ride : {{extraInfo[0][8]}}</p>
                    </tr>
                    <tr>
                        <p>Weight Requirement to ride : {{extraInfo[0][9]}}</p>
                    </tr>
                    <tr>
                        <p>Expected line length right now : {{extraInfo[0][10]}} people waiting</p>
                    </tr>
                </table> 
                {%endif%}
            </div>
        </div>
        
    </main>
        
        <footer>
        <div id="bottom">
            <div class="borderbox">
            <p> To ride, customers must meet ride requirements. All rights to deny entry to a ride are reserved. The status of rides
                 offered at park are subject to change in the case of maintenence or dangerous weather conditions. Refunds shall not 
                 be offered in the case of ride closure.  </p>
        </div>
    </div>
        </footer>

  </html>
