<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}" >
        <meta charset="utf-8">
        <meta name = "description" content = "This is a nifty website">
        <title>Amusement Park App</title>
    </head>
    <body style = "background-color:#f4f0ec">
        <body>
            <div style="background-color: whitesmoke;">
                <h1>Employee Signin</h1>
            </div>
        </body>
        <nav>
            <ul>
                <table>
                    <tr>
                        <a href="/">
                            <button>Home</button>
                        </a>
                    </tr>
                    <tr>
                        <a href="/Vendors">
                            <button>Vendors</button>
                        </a>
                    </tr>
                    <tr>
                        <a href="/Reservations">
                            <button>Reservations</button>
                        </a>
                    </tr>
                    <tr>
                        <a href="/Rides">
                            <button>Rides</button>
                        </a>
                    </tr>
                </table>
            </ul>
        </nav>
        <p style="margin-bottom:1.5cm;"></p>
        <main>
            <div class="box">
                <table>
                    <tr>
                        <h2>Signin</h2>
                        <form action="/Signin" method="post">
                            <input type="number" name='EID' placeholder="EID" required>
                            <input type="submit">
                        </form>
                        {% if failed %} 
                        <p class="error">Invalid EID</p>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </main>
    </body>
</html>
